###> jetbrains/PhpStorm ###
.idea
###< jetbrains/PhpStorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
#.phpunit.result.cache  # Already ignored by phpunit/phpunit section
#/phpunit.xml           # Already ignored by phpunit/phpunit section
###< symfony/phpunit-bridge ###
